<div class='header header-absolute'>
  <div class="container">
    <div class="logo">
      <a href="{{ .Site.BaseURL }}"><img alt="Figurit Homepage" src="{{ .Site.BaseURL }}https://media-exp3.licdn.com/dms/image/C4D03AQEuKvxaeZyKrg/profile-displayphoto-shrink_400_400/0/1520579884742?e=1631750400&v=beta&t=dbb_mq5gOI51kOsNrpDE37MZx1U2RdZPQjoQXgCM3lY" /></a>
    </div>
    <div class="logo-mobile">
      <a href="{{ .Site.BaseURL }}"><img alt="Figurit Homepage" src="{{ .Site.BaseURL }}https://media-exp3.licdn.com/dms/image/C4D03AQEuKvxaeZyKrg/profile-displayphoto-shrink_400_400/0/1520579884742?e=1631750400&v=beta&t=dbb_mq5gOI51kOsNrpDE37MZx1U2RdZPQjoQXgCM3lY" /></a>
    </div>
    {{ partial "main-menu.html" . }}
    {{ partial "hamburger.html" . }}
  </div>
</div>
